body{
	background: url(http://s3-us-west-2.amazonaws.com/i.cdpn.io/8966.dlJmg.a0fbb522-af4b-4632-aa2f-0497064e15be.png);
	background-color: black;
  }

.vertical-offset-100{
    padding-top:100px;
}










